<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Event action occurred</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      Action:
      <pre>{{ modalData?.action }}</pre>
    </div>
    <div>
      Event:
      <pre>{{ modalData?.event | json }}</pre>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="close()">OK</button>
  </div>
</ng-template>

<div class="row text-center">
  <div class="col-md-4">
    <div class="btn-group">
      <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
        Previous
      </div>
      <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
        Today
      </div>
      <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
        Next
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
  </div>
  <div class="col-md-4">
    <div class="btn-group">
      <div class="btn btn-primary" (click)="view = 'month'" [class.active]="view === 'month'">
        Month
      </div>
      <div class="btn btn-primary" (click)="view = 'week'" [class.active]="view === 'week'">
        Week
      </div>
      <div class="btn btn-primary" (click)="view = 'day'" [class.active]="view === 'day'">
        Day
      </div>
    </div>
  </div>
</div>
<br>
<div [ngSwitch]="view" *ngIf="eventsLoaded">
  <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events" [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)" (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-month-view>
  <mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate" [events]="events" [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-week-view>
  <mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [events]="events" [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-day-view>
</div>

<div class="row add-event-row">
  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#eventModal" (click)="openEventModal()"><i class="fa fa-plus add-icon" aria-hidden="true"></i>Add Event</button>
</div>

<div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="eventModalLabel" aria-hidden="true" *ngIf="displayEventModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Event</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="initEvent()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger" role="alert" *ngIf="displayModalError">
          {{scheduleModalError}}
        </div>
        <form>
          <div class="form-group">
            <label for="eventTitle">Event Title</label>
            <input type="text" name="eventTitle" [(ngModel)]="event.eventTitle" class="form-control" id="eventTitle" placeholder="Enter event title">
          </div>
          <div class="form-group row">
            <div class="col-xs-12 col-md-6">
              <label for="eventStart">Event Start</label>
              <input name="eventStart" [(ngModel)]="event.eventStart" class="form-control" [owlDateTimeTrigger]="dtPicker1" [owlDateTime]="dtPicker1" [min]="eventStartMinDate">
              <owl-date-time #dtPicker1></owl-date-time>
            </div>
            <div class="col-xs-12 col-md-6">
              <label for="eventEnd">Event End</label>
              <input name="eventEnd" [(ngModel)]="event.eventEnd" class="form-control" [owlDateTimeTrigger]="dtPicker2" [owlDateTime]="dtPicker2" [min]="event.eventStart">
              <owl-date-time #dtPicker2></owl-date-time>
            </div>
          </div>
          <div class="form-group">
            <label for="eventLocation">Event Location</label>
            <input id="eventLocation" class="form-control" (onSelect)="selectAddress($event, 'event')" appGpComplete/>
          </div>
          <div class="form-group">
            <label for="previousLocation">Previous Location</label>
            <select class="form-control" id="previousLocation" [(ngModel)]="selectedPriorLocation" name="previousLocation">
            <option *ngFor="let locationType of locationTypes" [value]="locationType">{{locationType}}</option>
          </select>
          </div>
          <div [ngSwitch]="selectedPriorLocation">
            <p *ngSwitchCase="'home'" class="text-info">{{homeLocation.formatted_address}}</p>
            <p *ngSwitchCase="'work'" class="text-info">{{workLocation.formatted_address}}</p>
            <div *ngSwitchCase="'other'" class="form-group">
              <label for="otherLocation">Event Location</label>
              <input id="otherLocation" class="form-control" (onSelect)="selectAddress($event, 'other')" appGpComplete/>
            </div>
          </div>
          <div class="form-group" *ngIf="displayTravelModes">
            <label>Travel Mode:</label>
            <table class="travel-mode-table">
              <tr *ngFor="let travelMode of travelModeArray">
                <td><input type="radio" [(ngModel)]="event.travelMode" [value]="travelMode.mode" name="travelMode"></td>
                <td><i class="fa fa-{{travelMode.icon}} travel-mode-icon"></i></td>
                <td>{{travelMode.mode}}</td>
                <td>{{travelMode.value.distance.text}}</td>
                <td>{{travelMode.value.duration.text}}</td>
              </tr>
            </table>
          </div>
          <div class="form-group" *ngIf="repeatEvents">
            <label>
              <input #repeat type="checkbox" data-toggle="modal" value="repeat" (change)="openRepeatEventModal(repeat)"> Repeat Event
            </label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="initEvent()">Close</button>
        <button type="button" class="btn btn-primary" (click)="saveEvent()">Save changes</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="locationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Enter Location Details</h5>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="homeAddress">Home Address</label>
            <input id="homeAddress" class="form-control" (onSelect)="selectAddress($event, 'home')" appGpComplete/>
          </div>
          <div class="form-group">
            <label for="workAddress">Work Address</label>
            <input id="workAddress" class="form-control" (onSelect)="selectAddress($event, 'work')" appGpComplete/>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="saveLocation()">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- DELETE MODAL -->

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> -->
        <h4 class="modal-title">Confirm Action</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this event?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeDeleteModal()">Close</button>
        <button type="button" class="btn btn-primary" (click)="deleteEvent()">Yes</button>
      </div>
    </div>
  </div>
</div>


 <!-- REPEAT EVENTS MODAL -->

 <div class="modal fade" id="repeatEventsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h4 class="modal-title">Repeat Events</h4>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body">
         <p>Select the dates you want to repeat this event</p>
         <fieldset *ngFor="let choice of choices">
         <input [owlDateTimeTrigger]="dt3" [owlDateTime]="dt3"  [min]="event.eventStart" [selectMode]="'single'">
         <owl-date-time [pickerType]="'calendar'" #dt3></owl-date-time>
          <button class="add"  (click)="addNewChoice()">+</button>
          <button class="remove" (show)="last" (click)="removeChoice()">-</button>
        </fieldset>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeRepeatModal()">Close</button>
         <button type="button" class="btn btn-primary" (click)="repeatEvent()">Yes</button>
       </div>
     </div>
   </div>
 </div>
