<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Event action occurred</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      Action:
      <pre>{{ modalData?.action }}</pre>
    </div>
    <div>
      Event:
      <pre>{{ modalData?.event | json }}</pre>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="close()">OK</button>
  </div>
</ng-template>

<div class="row text-center">
  <div class="col-md-4">
    <div class="btn-group">
      <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
        Previous
      </div>
      <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
        Today
      </div>
      <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
        Next
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
  </div>
  <div class="col-md-4">
    <div class="btn-group">
      <div class="btn btn-primary" (click)="view = 'month'" [class.active]="view === 'month'">
        Month
      </div>
      <div class="btn btn-primary" (click)="view = 'week'" [class.active]="view === 'week'">
        Week
      </div>
      <div class="btn btn-primary" (click)="view = 'day'" [class.active]="view === 'day'">
        Day
      </div>
    </div>
  </div>
</div>
<br>
<div class="alert alert-success" role="alert" *ngIf="displaySuccess">
  {{successMessage}}
</div>
<div [ngSwitch]="view" *ngIf="eventsLoaded">
  <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events" [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)" (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-month-view>
  <mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate" [events]="events" [refresh]="refresh" (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-week-view>
  <mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [events]="events" [refresh]="refresh" (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-day-view>
</div>

<div class="row add-event-row">
  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#eventModal" (click)="initEvent()"><i class="fa fa-plus add-icon" aria-hidden="true"></i>Add Event</button>
</div>

<div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="eventModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Event</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="initEvent()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger" role="alert" *ngIf="displayModalError">
          {{scheduleModalError}}
        </div>
        <form #eventForm="ngForm">
          <div class="form-group">
            <label for="eventTitle">Event Title</label>
            <input type="text" name="eventTitle" [(ngModel)]="event.eventTitle" class="form-control" id="eventTitle" placeholder="Enter event title" required name="eventTitle" #eventTitle="ngModel">
            <div [hidden]="eventTitle.valid || eventTitle.pristine" class="alert alert-danger">
              Event Title is Required
            </div>
          </div>

          <div class="form-group row">
            <div class="col-xs-12 col-md-6">
              <label for="eventStart">Event Start</label>
              <input required name="eventStart" [(ngModel)]="event.eventStart" class="form-control" [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" [min]="eventStartMinDate" (ngModelChange)="changeStartDate()">
              <owl-date-time #dt1></owl-date-time>
            </div>
            <div class="col-xs-12 col-md-6">
              <label for="eventEnd">Event End</label>
              <input required name="eventEnd" [(ngModel)]="event.eventEnd" class="form-control" [owlDateTimeTrigger]="dtPicker2" [owlDateTime]="dtPicker2" [min]="event.eventStart" #dateTime="ngModel">
              <owl-date-time #dtPicker2></owl-date-time>
            </div>
          </div>

          <div class="form-group">
            <label for="eventLocation">Event Location</label>
            <input id="eventLocation" class="form-control" (onSelect)="selectAddress($event, 'event')" appGpComplete required [(ngModel)]="event.eventLocation" name="eventLocation" #eventLocation="ngModel" />
            <div [hidden]="eventLocation.valid || eventLocation.pristine" class="alert alert-danger">
              Event Location is required
            </div>
          </div>
          <div class="form-group">
            <label for="previousLocation">Previous Location</label>
            <select class="form-control" id="previousLocation" [(ngModel)]="selectedPriorLocation" name="previousLocation" (ngModelChange)="changePreviousLocation()">
              <option *ngFor="let locationType of locationTypes" [value]="locationType">{{locationType}}</option>
            </select>
          </div>
          <div [ngSwitch]="selectedPriorLocation">
            <p *ngSwitchCase="'home'" class="text-info">{{homeLocation?homeLocation.formatted_address:''}}</p>
            <p *ngSwitchCase="'work'" class="text-info">{{workLocation?workLocation.formatted_address:''}}</p>
            <div *ngSwitchCase="'other'" class="form-group">
              <label for="otherLocation">Event Location</label>
              <input id="otherLocation" class="form-control" (onSelect)="selectAddress($event, 'other')" appGpComplete required [(ngModel)]="event.otherLocation" name="otherLocation" #otherLocation="ngModel" />
              <div [hidden]="otherLocation.valid || otherLocation.pristine" class="alert alert-danger">
                Other Event Location is required
              </div>
            </div>
          </div>
          <div class="form-group" *ngIf="displayTravelModes">
            <label>Travel Mode:</label>
            <table class="travel-mode-table">
              <tr *ngFor="let travelMode of travelModeArray">
                <td *ngIf="travelMode.value.distance"><input type="radio" [(ngModel)]="event.travelMode" [value]="travelMode.mode" name="travelMode"></td>
                <td *ngIf="travelMode.value.distance"><i class="fa fa-{{travelMode.icon}} travel-mode-icon"></i></td>
                <td *ngIf="travelMode.value.distance">{{travelMode.mode}}</td>
                <td *ngIf="travelMode.value.distance">{{travelMode.value.distance.text}}</td>
                <td *ngIf="travelMode.value.distance">{{travelMode.value.duration.text}}</td>
              </tr>
            </table>
          </div>
          <div class="form-group">
            <label>
              <input #repeat type="checkbox" name="isRepeat" data-toggle="modal" [(ngModel)]="event.isRepeat" (change)="openRepeatBlock(repeat)"> Repeat Event
            </label>
          </div>
          <div  class="col-xs-12 col-md-6" *ngIf="event.isRepeat">
            <label for="repeatSelect">Options</label>
            <select class="form-control" id="repeatSelect" name="repeatSelect" required [(ngModel)]="event.repeatPreference">
                <option>Daily</option>
                <option>Weekly</option>
            </select>
            <label for="repeatUntil">Repeat Until</label>
            <input required name="Until" class="form-control" [owlDateTimeTrigger]="dt4" [owlDateTime]="dt4" [min]="eventStartEndDate" [max]="maxRepeatDate"  [(ngModel)]="event.repeatMax">
            <owl-date-time [pickerType]="'calendar'" #dt4></owl-date-time>
          </div>
          <div  class="col-xs-12 col-md-6" *ngIf="repeatEdit">
            <label for="repeatSelect">Choose the Event(s) to be edited</label>
            <select class="form-control" id="redit" name="repeatEdit" required [disabled]="!event.isRepeat" [(ngModel)]="event.repeatEditChoice">
              <option>Current Event</option>
              <option>Future Repeated Events(Including this event)</option>
              <option>All Repeated Events</option>
            </select>
          </div>
        </form>
        <div class="alert alert-success" role="alert" *ngIf="displayModalSave">
          Your Events are being saved
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="initEvent()">Close  </button>
        <button type="button" class="btn btn-primary"   (click)="saveEvent()">Save</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="locationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Enter Location Details</h5>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="homeAddress">Home Address</label>
            <input id="homeAddress" class="form-control" (onSelect)="selectAddress($event, 'home')" appGpComplete/>
          </div>
          <div class="form-group">
            <label for="workAddress">Work Address</label>
            <input id="workAddress" class="form-control" (onSelect)="selectAddress($event, 'work')" appGpComplete/>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="saveLocation()">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- DELETE MODAL -->

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> -->
        <h4 class="modal-title">Confirm Action</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this event?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeDeleteModal()">Close</button>
        <button type="button" class="btn btn-primary" (click)="deleteEvent()">Yes</button>
      </div>
    </div>
  </div>
</div>
