<form>
  <div class="form-group">
    <label for="homeAddress">Home Address</label>
    <input id="homeAddress" class="form-control" [(ngModel)]="homeLocationText"
           (onSelect)="selectAddress($event, 'home')" appGpComplete name="home-location"/>

  </div>
  <div class="form-group">
    <label for="workAddress">Work Address</label>
    <input id="workAddress" class="form-control" [(ngModel)]="workLocationText"
           (onSelect)="selectAddress($event, 'work')" appGpComplete name="work-location"/>
  </div>
  <div class="form-group">
    <label>Lunch Time</label>

    <ion-range-slider #lunchSliderElement
                      type="double"
                      [from]="lunchStart"
                      from_shadow="true"
                      [to]="lunchEnd"
                      [values]="['11:00am','11:15am', '11:30am', '11:45am', '12:00pm', '12:15pm', '12:30pm', '12:45pm', '01:00pm', '01:15pm', '01:30pm','01:45pm', '02:00pm', '02:15pm', '02:30pm', '02:45pm', '03:00pm']"
                      to_shadow="true"
                      grid="true"
                      grid_num="17"
                      prefix="Time: "
                      drag_interval="true"
                      decorate_both="true"
                      [prettify_enabled]="true"
                      (onUpdate)="update(advancedSlider1,$event)"
                      (onChange)="update(advancedSlider1, $event)"
                      (onFinish)="finishStart(advancedSlider1, $event)"></ion-range-slider>
  </div>
  <div class="form-group">

    <label>Dinner Time</label>

    <ion-range-slider #DinnerSliderElement
                      type="double"
                      [from]="dinnerStart"
                      from_shadow="true"
                      [to]="dinnerEnd"
                      grid="true"
                      [values]="['06:00pm','06:15pm', '06:30am', '06:45am', '07:00pm', '07:15pm', '07:30pm', '07:45pm', '08:00pm', '08:15pm', '08:30pm','08:45pm', '09:00pm', '09:15pm', '09:30pm', '09:45pm', '10:00pm']"
                      to_shadow="true"
                      grid_num="17"
                      prefix="Time: "
                      drag_interval="true"
                      decorate_both="true"
                      [prettify_enabled]="true"
                      (onUpdate)="update(advancedSlider,$event)"
                      (onChange)="update(advancedSlider, $event)"
                      (onFinish)="finishDinner(advancedSlider, $event)"></ion-range-slider>
  </div>
  <br>

  <div class="form-group" novalidate class="col-xs-12 col-md-4">
    <p>
      <label for="walkingDistance">Maximum Walking Distance (in miles)</label>
      <input id="walkingDistance" type="number" min="0" max="10" class="form-control" [(ngModel)]="walking"
             [ngModelOptions]="{standalone: true}"/>
    </p>
    <br/>
    <p>
      <label for="cyclingDistance">Maximum Cycling Distance (in miles)</label>
      <input id="cyclingDistance" type="number" min="0" max="10" class="form-control" [(ngModel)]="cycling"
             [ngModelOptions]="{standalone: true}"/>
    </p>
  </div>


  <div class="form-group">
    <p>
      <label>Preferred Mode of Travel</label>
      <br>
      <label [class.selected]="cb1.checked">
        <input #cb1 type="checkbox" value="driving" (change)="logCheckbox(cb1)" [checked]="drive"> Driving
      </label>
      <br>
      <label [class.selected]="cb2.checked">
        <input #cb2 type="checkbox" value="cycling" (change)="logCheckbox(cb2)" [checked]="cycle"> Cycling
      </label>
      <br>
      <label [class.selected]="cb3.checked">
        <input #cb3 type="checkbox" value="walking" (change)="logCheckbox(cb3)" [checked]="walk"> Walking
      </label>
      <br>
      <label [class.selected]="cb4.checked">
        <input #cb4 type="checkbox" value="transit" (change)="logCheckbox(cb4)" [checked]="trans"> Transit
      </label>
      <br>
    </p>
  </div>
  <button type="submit" class="btn btn-primary" (click)="saveUserProfile()">Submit</button>
</form>
